* {
  padding: 0;
  margin: 0;
}

body {
  color: #DDD;
  font: 62.5% Verdana, "MS Trebuchet", sans-serif;
  background: #000 url("../images/bg_alebie_01.jpg") repeat-y 50% 0;
}

/*Background colours*/
div.section, 
ul#nav li a {
  background: #333;
  background: rgba(51, 51, 51, 0.7);
}

div.item {
	margin: 0 0 20px;
}

h1 {
	position: relative;
	width: 228px;
	height: 81px;
  float: left;
  font-size: 4.6em;
	background: url(../images/logo.png) no-repeat 0 0;
	margin: 0 0 0 7px;
}

h1 span {
	position: absolute;
	top: -10000px;
}

h2 {
  font-size: 2.5em;
  margin: 0 0 10px;
}

h3 {
  font-size: 1.8em;
}

p#tagLine {
	background: url("../images/tag_line.png") no-repeat 0 0;
	position: relative;
	clear: left;
	margin: 155px 0 0 7px;
	width: 522px;
	height: 53px;
}

p#tagLine span {
	position: absolute;
	top: -10000px;
}

ul#nav {
  float: right;
  list-style: none;
  margin: 0 0 10px;
}

ul#nav li a {
  margin: 0 0 5px;
  float: right;
  color: #DDD;
  text-decoration: none;
  font-size: 2em;
  padding: 10px 20px;
}

ul#nav li a:hover {
  color: #0CD;
}

div#wrapper {
  width: 800px;
  margin: 0 auto;
  background: none;
}

div {
  clear: both;
  padding: 20px;
}

p {
  font-size: 1.6em;
  margin: 0 0 10px;
  line-height: 1.4em;
}

form div {
	padding: 0;
	margin: 0 0 10px;
}

form label {
	font-size: 1.6em;
	width: 230px;
	float: left;
}

form input.text,
form textarea {
	width: 300px;
	font: 1.2em Arial, Helvetica, sans-serif;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #FFF;
	padding: 3px;
}

div#projects ul li {
	overflow: auto;
}

div#projects ul li img {
	float: left;
}

div#projects ul li h3 {
	padding: 100px 0 0;
	margin: 0 0 0 320px;
}

div#projects ul li p {
	margin: 0 0 0 320px;
}
