* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  background-color: #000;
  color: #DDD;
  font: 62.5% impact, sans-serif;
  height: 100%;
  position: relative;
}

#particles-js {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

section {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 1s ease-in-out;
}

.text {
  background: url('/images/working.jpg') no-repeat center center;
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

h1, h2 {
  font-size: 20vw;
  font-weight: normal;
  line-height: 0.9;
  text-transform: uppercase;
  z-index: 1;
}

#creative .text {
  background-image: url('/images/bg-creative.jpg');
}

#technical .text {
  background-image: url('/images/bg-technical.jpg');
}

#creative,
#technical {
  opacity: 0;
}

#brand {
  background: radial-gradient(at 80% 100%, rgba(136, 79, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
}

#creative {
  background-image: radial-gradient(at 80% 100%, rgba(29, 20, 200, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
}

#technical {
  background-image: radial-gradient(at 80% 100%, rgba(55, 96, 6, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
}

.creative #creative,
.technical #technical {
  opacity: 1;
}

.creative #brand,
.technical #brand {
  opacity: 0;
}

#particles-js canvas {
  left: 0;
  position: absolute;
  top: 0;
}

#link {
  left: 30px;
  position: absolute;
  top: 10px;
  z-index: 5;
}

#link img {
  width: 30px;
}
