* {
  padding: 0;
  margin: 0;
}

body {
  animation: load 1s ease-in-out 1;
  color: rgba(0, 0, 0, 0.8);
  font: 18px "Scope One", serif;
  background: #FFF;
  text-align: center;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header {
  margin: 0 0 30px;
}
header p {
  font-size: 24px;
  margin: 10px 0;
}
h1 {
  border-bottom: 1px solid #D81E05;
  font-family: 'Roboto', sans-serif;
  font-size: 80px;
  line-height: 1;
  margin: 10px 0 0;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  margin: 0 0 10px;
}

#wrapper {
  margin: 0 20px;
}

p {
  margin: 0 0 10px;
  line-height: 1.4em;
}

svg {
  fill: #D81E05;
  height: 80px;
  width: 80px;
}

.section {
  margin: 0 0 30px
}

#contact {
  display: none;
}

form div {
	padding: 0;
	margin: 0 0 10px;
}

form label {
	font-size: 1.6em;
	width: 230px;
	float: left;
}

form input.text,
form textarea {
	width: 300px;
	font: 1.2em Arial, Helvetica, sans-serif;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #FFF;
	padding: 3px;
}

@media (min-width: 960px) {
  header {
    text-align: left;
  }

  header h1,
  header p {
    margin: 10px 0;
    padding: 0 10px;
  }

  #wrapper {
    display: flex;
    justify-content: center;
  }
  
  .section {
    flex-grow: 1; 
    margin: 30px;
    width: 30%;
  }
}
