* {
  margin: 0;
  padding: 0;
}

* + * {
  margin: 16px 0 0;
}

body {
  align-items: center;
  background: #e81b00;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  font: 16px "Open Sans", sans-serif;
  height: 100%;
  position: absolute;
  width: 100%;
}

#profile,
#experience,
#projects,
#contact {
  display: none;
}

h1 {
  font-size: 12.5vh;
  line-height: 0.8;
  margin: 0 0 12.5vh;
}

#wrapper {
  padding: 5px;
}

#nav ul {
  list-style: none;
}

#nav li {
  margin: 0;
}

#nav a {
  color: #fff;
  font-size: 12.5vh;
  font-weight: bold;
  line-height: 1;
}

#tagLine {
  font-size: 12.5vh;
  font-weight: bold;
  line-height: 0.8;
  margin: 0;
}
